div.side-menu {
  width: 180px;
  display: flex;
  flex-direction: column;
}

div.side-menu > button {
  display: flex;
  margin: 5px 0;
  border: none;
  background-color: #777;
  color: #FFF;
  font-size: 13px;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  transition: 0.2s;
}

div.side-menu > button > span {
  width: 3em;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

div.side-menu > button > span > i {
  opacity: 0.6;
}

div.side-menu > button > p {
  flex: 1;
  margin: 0;
}

div.side-menu > button:hover {
  cursor: pointer;
}

div.side-menu > button.selected {
  background-color: #CCC;
  color: #333;
  font-weight: bold;
}

div.side-menu > button:active,
div.side-menu > button:focus {
  outline: none;
}
