*,
*:before,
*:after { box-sizing: border-box; }

body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
}

body,
div#root { min-height: 100vh; }

div#root {
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  width: 100%;
}

header.app-header {
  padding: 20px;
}

header.app-header > h1 {
  width: 100%;
  text-align: center;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

main.app-container {
  display: flex;
  flex: 1;
}

div.item-viewport {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.item-viewport > h2 {
  text-align: center;
}
