*,
*:before,
*:after { box-sizing: border-box; }

body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
}

body,
div#root { min-height: 100vh; }

div#root {
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  width: 100%;
}

header.app-header {
  padding: 20px;
  transition: 0.2s;
}

header.app-header > h1 {
  width: 100%;
  text-align: center;
  margin: 0;
}

p.header-subtitle {
  width: 100%;
  text-align: center;
  font-style: italic;
  opacity: 0.7;
}

main.app-container {
  display: flex;
  flex: 1;
}

div.item-viewport {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

div.item-viewport > h2 {
  text-align: center;
}

div.item-viewport > img {
  margin: 20px 0;
  max-width: 100%;
}
